.bars-icon svg {
  width: 20px;
  display: block;
}

.bars-icon path {
  fill: white;
}

.bars-icon {
  margin-left: 10px;
  border-radius: 40px;
  padding: 8px;
  cursor: pointer;
}

.bars-icon:hover {
  background-color: #373740;
}
.bars-icon:active {
  background-color: #424254;
}

.header {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.search-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 35px;
}
.search-container input {
  width: 400px;
  font-size: 18px;
  padding: 10px;
  background-color: #121212;
  border: none;
  color: white;
  outline: none;
}

.search-container input:focus {
  border: 1px #c8c8c8 solid;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 9px;
}

.search-button svg {
  width: 20px;
  height: 20px;
}
.search-button path {
  fill: darkgrey;
}
.search-button {
  width: 60px;
  background-color: #303030;
  cursor: pointer;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.search-button:hover path {
  fill: white;
}

.user-image img {
  height: 44px;
  width: 44px;
  margin-right: 6px;
  display: block;
  border-radius: 25px;
}
