.cards-transition-container {
  flex: 1;
}
.gallery-container {
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-auto-rows: min-content;
  grid-gap: 20px;
  padding: 20px;
}
.card {
  cursor: pointer;
  font-weight: lighter;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--menu-color);
  border: 1px solid var(--primary-border);
  transition: box-shadow 200ms;
  /*https://getcssscan.com/css-box-shadow-examples*/
  box-shadow: var(--regular-shadow) 0px 3px 7px -3px;
}

.card:hover {
  box-shadow: var(--focus-shadow) 0px 6px 12px -2px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover .play-card-icon,
.card:hover .expand-icon,
.card:hover .card-arrow-icon {
  opacity: 1;
}

.play-card-icon {
  opacity: 0;
  width: 40px;
  height: 40px;
}

.expand-icon {
  position: absolute;
  opacity: 0;
  height: 32px;
  width: 32px;
  top: 0;
  right: 35px;
  transition: transform 200ms;
  transform: rotateZ(90deg);
}
.rotated {
  transform: rotateZ(-90deg);
}
.card-arrow-icon {
  position: absolute;
  opacity: 0;
  height: 26px;
  width: 26px;
  top: 5px;
  right: 5px;
}

.text-container {
  position: relative;
  pointer-events: none;
  padding: 11px;
  font-size: 16px;
  font-weight: 500;
}

.card-type {
  position: absolute;
  bottom: 6px;
  right: 6px;
  font-size: 12px;
  font-style: italic;
  color: var(--faded-text-color);
}

.card img {
  transition: box-shadow 150ms;
  width: 100%;
  display: block;
}

.card-preview-dimensions {
  height: 0;
  overflow: hidden;

  transition: margin-top 200ms 100ms;
  padding-bottom: 56.25%; /*ratio for 320x180 youtube image*/
  position: relative;
}
.card.open-card .card-preview-dimensions {
  transition: margin-top 200ms;
  margin-top: -56.25%;
}

.card_channel-title {
  position: absolute;
  top: -12px;
  right: 4px;
  padding: 6px;
  border-radius: 4px;
  font-size: 12px;
  background-color: var(--page-color);
}

.folder-preview-container {
  display: flex;
  align-items: stretch;
}

.folder-preview-container img {
  object-fit: cover;
}

.folder-preview-container > .left {
  flex: 3;
}

.folder-preview-container > .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
}

.folder-preview-container > .left > img {
  height: 100%;
}

.folder-preview-container > .right > img {
  margin-top: 2px;
  /* 1.5 pixels because I have only three spaces between four images */
  height: calc(25% - 1.5px);
}

.folder-preview-container > .right > img:first-of-type {
  margin-top: 0;
}

.empty-folder {
  font-size: 36px;
  font-weight: bolder;
  color: var(--faded-text-color);
}

.subtracks-container {
  max-height: 300px;
  overflow-y: overlay;
  transition: max-height 200ms 100ms;
}

.subtracks-container-closed {
  transition: max-height 200ms;
  max-height: 0;
}

.subtrack {
  position: relative;
  padding: 5px 11px;
  font-size: 13px;
  font-weight: normal;
  border-bottom: 1px solid var(--primary-border);
  display: flex;
  align-items: center;
}
.subtrack:hover {
  background-color: var(--hover-color);
}

.subtrack img {
  min-width: 32px;
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 6px;
}

.subtrack span {
  word-break: break-word;
}

.subtrack:last-of-type {
  border: none;
}

.subtrack-play-icon {
  opacity: 0;
  transition: opacity 200ms;
  position: absolute;
  left: 16px;
  width: 24px;
  height: 24px;
}
.subtrack:hover .subtrack-play-icon,
.subtrack:hover .subtrack-arrow-icon {
  opacity: 1;
}
.subtrack:hover .stubtrack-items-count {
  opacity: 0;
}

.subtrack-arrow-icon {
  opacity: 0;
  transition: opacity 200ms;
  position: absolute;
  height: 18px;
  width: 18px;
  top: calc(50% - 9px);
  right: 5px;
}

.stubtrack-items-count {
  opacity: 1;
  transition: opacity 200ms;
  margin-left: auto;
  color: var(--faded-text-color);
}

.subtracks-loading-container {
  position: relative;
  height: 100px;
}
