.drag-avatar > .card {
  margin: 0;
  box-shadow: var(--focus-shadow) 0px 6px 12px -2px;
}

.drag-avatar {
  pointer-events: none;
  border-radius: 4px;
}

.rotate-cw {
  --rotation: 8deg;
  transform: rotateZ(var(--rotation));
  animation: rotate 150ms;
}

.rotate-ccw {
  --rotation: 8deg;
  transform: rotateZ(var(--rotation));
  animation: rotate 150ms;
}

@keyframes rotate {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(var(--rotation));
  }
}

.card-drag-destination.card * {
  opacity: 0;
}

.card-drag-destination {
  background-color: transparent;
  border: 6px var(--primary-border) dashed;
}

.card-drag-destination.card {
  box-shadow: none;
}

.gallery-container .card-being-dragged.card {
  opacity: 0;
}
