.gallery-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
  overflow-y: overlay;
}

.gallery-container::-webkit-scrollbar {
  width: 0;
}
.gallery-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.gallery-container:hover::-webkit-scrollbar {
  width: 8px;
}

.column {
  flex: 1;
  margin-left: 20px; /*GAP constant*/
}
.column:last-of-type {
  margin-right: 20px;
}
.column .card:last-of-type {
  margin-bottom: 20px; /*GAP constant*/
}

.card {
  margin-top: 20px; /*GAP constant*/
  cursor: pointer;
  color: #232325;
  font-weight: lighter;
  position: relative;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.card:hover {
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.4);
}
.card .text {
  bottom: 0;
  margin-top: 5px;
}

.card .gradient {
  border-radius: 4px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 60%
  );
  opacity: 0.6;
  transition: opacity 200ms;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 60px;
  height: 60px;
  fill: rgba(255, 255, 255, 0);
  transition: fill 100ms;
}

.card:hover .icon {
  fill: rgba(255, 255, 255, 0.8);
}

.card .icon.pause-icon {
  fill: rgba(255, 255, 255, 0.8);
}

.card .icon:hover {
  fill: rgba(255, 255, 255, 1);
}

.card .icon:active,
.card .icon.pause-icon:active {
  fill: rgb(222, 222, 222);
}

.card .text-container {
  display: flex;
  justify-content: center;
  padding: 0.3em;
  align-items: flex-end;
  text-align: center;
  color: white;
  pointer-events: none;
}

.card:hover .gradient {
  opacity: 1;
}

.card img {
  transition: box-shadow 150ms;
  border-radius: 4px;
  width: 100%;
  display: block;
}

.card-preview-dimensions {
  height: 0;
  padding-bottom: 56.25%; /*ratio for 320x180 youtube image*/
  position: relative;
}

.folder-preview-container {
  display: flex;
  align-items: stretch;
}

.folder-preview-container img {
  border-radius: 0;
  object-fit: cover;
}

.folder-preview-container > .left {
  flex: 3;
}

.folder-preview-container > .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #232325;
}

.folder-preview-container > .left > img {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 100%;
}

.folder-preview-container > .right > img {
  height: 25%;
}
.folder-preview-container > .right > img:first-of-type {
  border-top-right-radius: 4px;
}
.folder-preview-container > .right > img:nth-child(4) {
  border-bottom-right-radius: 4px;
}

.empty-folder {
  border-radius: 4px;
  font-size: 36px;
  font-weight: bolder;
  color: #808080;
  background-color: #232325;
}
