.gallery-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
  overflow-y: overlay;
  padding-bottom: 20px;
  margin-top: -20px; /*GAP constant*/
}

.gallery-container::-webkit-scrollbar,
.subtracks-container::-webkit-scrollbar {
  width: 0;
}
.gallery-container::-webkit-scrollbar-thumb,
.subtracks-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.gallery-container:hover::-webkit-scrollbar,
.subtracks-container:hover::-webkit-scrollbar {
  width: 8px;
}

.card {
  margin-top: 20px; /*GAP constant*/
  margin-left: 20px; /*GAP constant*/
  cursor: pointer;
  font-weight: lighter;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  background-color: #212121;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: box-shadow 200ms;
  /*https://getcssscan.com/css-box-shadow-examples*/
  box-shadow: rgba(255, 255, 255, 0.2) 0px 3px 7px -3px;
}

.card:hover {
  box-shadow: rgba(77, 47, 128, 1) 0px 6px 12px -2px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 60px;
  height: 60px;
  fill: rgba(255, 255, 255, 0);
  transition: fill 200ms;
}

.card:hover .icon {
  fill: rgba(255, 255, 255, 0.8);
}

.card .icon.pause-icon {
  fill: rgba(255, 255, 255, 0.8);
}

.card .icon:hover {
  fill: rgba(255, 255, 255, 1);
}

.card .icon:active,
.card .icon.pause-icon:active {
  fill: rgb(222, 222, 222);
}

.expand-icon {
  position: absolute;
  height: 32px;
  width: 32px;
  top: 0;
  right: 35px;
  transition: transform 200ms;
  transform: rotateZ(90deg);
}
.rotated {
  transform: rotateZ(-90deg);
}
.card-arrow-icon {
  position: absolute;
  height: 26px;
  width: 26px;
  top: 5px;
  right: 5px;
}

.card .text-container {
  color: white;
  pointer-events: none;
  padding: 11px;
  font-size: 16px;
  font-weight: 500;
}

.card img {
  transition: box-shadow 150ms;
  width: 100%;
  display: block;
}

.card-preview-dimensions {
  height: 0;
  overflow: hidden;

  transition: margin-top 200ms 100ms;
  padding-bottom: 56.25%; /*ratio for 320x180 youtube image*/
  position: relative;
}
.card.open-card .card-preview-dimensions {
  transition: margin-top 200ms;
  margin-top: -56.25%;
}

.folder-preview-container {
  display: flex;
  align-items: stretch;
}

.folder-preview-container img {
  object-fit: cover;
}

.folder-preview-container > .left {
  flex: 3;
}

.folder-preview-container > .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
}

.folder-preview-container > .left > img {
  height: 100%;
}

.folder-preview-container > .right > img {
  margin-top: 2px;
  height: calc(25% - 2px);
}
.folder-preview-container > .right > img:first-of-type {
  margin-top: 0;
}

.empty-folder {
  font-size: 36px;
  font-weight: bolder;
  color: #808080;
}

.subtracks-container {
  max-height: 300px;
  overflow-y: overlay;
  transition: max-height 200ms 100ms;
}

.subtracks-container-closed {
  transition: max-height 200ms;
  max-height: 0;
}

.subtrack {
  position: relative;
  padding: 5px 11px;
  font-size: 13px;
  font-weight: normal;
  border-bottom: 1px solid #544d4d;
  display: flex;
  align-items: center;
}
.subtrack:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.subtrack img {
  min-width: 32px;
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 6px;
}

.subtrack span{
  word-break: break-word;
}

.subtrack:last-of-type {
  border: none;
}

.subtrack-play-icon {
  opacity: 0;
  transition: opacity 200ms;
  position: absolute;
  left: 16px;
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 4px;
}
.subtrack:hover .subtrack-play-icon,
.subtrack:hover .subtrack-arrow-icon {
  opacity: 1;
}
.subtrack:hover .stubtrack-items-count {
  opacity: 0;
}
.subtrack-play-icon:hover path {
  fill: white;
}
.subtrack-play-icon:active path {
  fill: lightgrey;
}
.subtrack-play-icon path {
  fill: rgba(255, 255, 255, 0.8);
}

.subtrack-arrow-icon {
  opacity: 0;
  transition: opacity 200ms;
  position: absolute;
  height: 18px;
  width: 18px;
  top: calc(50% - 9px);
  right: 5px;
}

.stubtrack-items-count {
  opacity: 1;
  transition: opacity 200ms;
  margin-left: auto;
  color: grey;
}

.subtracks-loading-container {
  position: relative;
  height: 100px;
}
