.gallery-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
  overflow-y: overlay;
}

.gallery-container::-webkit-scrollbar {
  width: 0;
}
.gallery-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.gallery-container:hover::-webkit-scrollbar {
  width: 8px;
}

.column {
  flex: 1;
  margin-left: 20px; /*GAP constant*/
}
.column:last-of-type {
  margin-right: 20px;
}
.column .card:last-of-type {
  margin-bottom: 20px; /*GAP constant*/
}

.card {
  margin-top: 20px; /*GAP constant*/
  cursor: pointer;
  font-weight: lighter;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  background-color: #212121;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: box-shadow 200ms;
  /*https://getcssscan.com/css-box-shadow-examples*/
  box-shadow:
    rgba(255, 255, 255, 0.2) 0px 3px 7px -3px;
}

.card:hover {
  box-shadow: rgba(255, 255, 255, 0.25) 0px 6px 12px -2px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 60px;
  height: 60px;
  fill: rgba(255, 255, 255, 0);
  transition: fill 100ms;
}

.card:hover .icon {
  fill: rgba(255, 255, 255, 0.8);
}

.card .icon.pause-icon {
  fill: rgba(255, 255, 255, 0.8);
}

.card .icon:hover {
  fill: rgba(255, 255, 255, 1);
}

.card .icon:active,
.card .icon.pause-icon:active {
  fill: rgb(222, 222, 222);
}

.card .text-container {
  color: white;
  pointer-events: none;
  padding: 11px;
  font-size: 16px;
  font-weight: 500;
}

.card img {
  transition: box-shadow 150ms;
  width: 100%;
  display: block;
}

.card-preview-dimensions {
  height: 0;
  padding-bottom: 56.25%; /*ratio for 320x180 youtube image*/
  position: relative;
}

.folder-preview-container {
  display: flex;
  align-items: stretch;
}

.folder-preview-container img {
  object-fit: cover;
}

.folder-preview-container > .left {
  flex: 3;
}

.folder-preview-container > .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
}

.folder-preview-container > .left > img {
  height: 100%;
}

.folder-preview-container > .right > img {
  margin-top: 2px;
  height: calc(25% - 2px);
}
.folder-preview-container > .right > img:first-of-type {
  margin-top: 0;
}
.folder-preview-container > .right > img:nth-child(4) {
}

.empty-folder {
  font-size: 36px;
  font-weight: bolder;
  color: #808080;
}
