.page-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "body-header body-header"
    "sidebar body";
  overflow: hidden;
}

.navigation-sidebar {
  --sidebar-width: 300px;
  color: white;
  background-color: #232325;
  grid-area: sidebar;
  overflow: hidden;
  width: var(--sidebar-width);
  transition: margin-left 200ms;
  margin-left: 0;
}
.navigation-sidebar.closed {
  margin-left: calc(-1 * var(--sidebar-width));
}

.page-body {
  grid-area: body;
}

.body-header {
  grid-area: body-header;
  background-color: lightblue;
}



.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
