.page-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 56px 1fr 70px;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "body-header body-header"
    "sidebar body"
    "player player";
  overflow: hidden;
}

.navigation-sidebar {
  --sidebar-width: 300px;
  background-color: var(--menu-color);
  grid-area: sidebar;
  overflow: hidden;
  width: var(--sidebar-width);
  transition: margin-left 200ms;
  margin-left: 0;
}
.navigation-sidebar.closed {
  margin-left: calc(-1 * var(--sidebar-width));
}

.page-body {
  border-top: 1px solid var(--primary-border);
  grid-area: body;
  overflow: overlay;
  background-color: var(--page-color);
  user-select: none;
}

.body-header {
  background-color: var(--menu-color);
  grid-area: body-header;
}

.page-player {
  background-color: var(--menu-color);
  grid-area: player;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}
