.icon {
  display: block;
  color: var(--icon-color);
}
.icon:hover {
  color: var(--icon-hover-color);
}
.icon-danger {
  color: var(--icon-danger-color);
}
.icon-danger:hover {
  color: var(--icon-danger-hover-color);
}
.icon-hover-container:hover .icon {
  color: var(--icon-hover-color);
}
